<!DOCTYPE html>
<html lang="en"></html>
{% load static tailwind_tags %} {% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Photos</title>
  {% tailwind_css %}
</head>

<body>
  <header class="bg-black p-4 text-white text-center">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold">Photoshare</h1>
    </div>
  </header>

  <div class="flex w-full">
    <div
      className="sidebar-container"
      class="flex flex-col w-1/5 border mx-20 mt-20 h-1/2"
    >
      <div className="categories" class="bg-slate-100 p-3">Categories</div>
      {% for category in categories %}
      <div className="category-item" class="p-4">{{category.name}}</div>
      {% endfor %}
  
      <a class="btn flex justify-center bg-black hover:bg-gray-800 text-white m-3 py-2 px-4 rounded" href="{% url 'addPhoto' %}">Add Photo </a>

    </div>

    <div
      className="photo-gallery container"
      class="grid grid-cols-3 w-4/5 mt-20 gap-7 mr-20"
    >

    {% for photo in photos %}
      <div className="photo-item" class="flex flex-col border-2 rounded  ">
        <img
          src="{{ photo.image_file }}"
          alt="{{ photo.description }}"
          class="object-cover h-54 h-48 w-full object-top "
        />
        <p class="text-large font-bold px-4 mt-4"> {{photo.title}} </p>
        <p class="text-slate-400 px-4"> {{photo.description}}</p>
        <div className="category-item" class="p-4"> Category: {{ photo.category.name }} </div>
        <a
          class="w-full flex justify-center hover:bg-gray-100 text-black font-bold py-2 px-4 rounded mx-auto border border-black"
          href="{% url 'getPhoto' photo.id %}"
        >
          View
          </a>
      </div>
      {% endfor %}

    </div>
  </div>
</body>
